.notfound-content{
    margin: auto;
    text-align: center;
    max-width: 600px;
    padding: 3rem;
    position: relative;
    z-index: 1;
}

.notfound-content h1{
    font-size: 7.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--primary);
}

.notfound-content h2{
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: var(--text);
}

.notfound-content p{
    font-size: 1rem;
    color: var(--text-secondary);
}

.notfound-content .ills{
    position: absolute;
    margin-top: 3.5rem;
    margin-left: 1.2rem;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 900px;
    opacity: 0.3;
    z-index: -1;
}

.home-btn{
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    background-color: var(--primary);
    color: var(--gray-100);
    font-weight: 800;
    text-decoration: none;
    border-radius: 14px;
    transition: background-color 0.3s ease;
}

.home-btn:hover{
    background-color: var(--primary-dark);
}

@media (max-width: 768px){

    .notfound-content{
        padding: 3rem 1.5rem;
    }

    .notfound-content h1{
        font-size: 5rem;
    }

    .notfound-content h2{
        font-size: 1.5rem;
    }

    .notfound-content p{
        font-size: 0.95rem;
    }
}